* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gentium Book Plus', serif;
}

.navigation-container {
    text-transform: uppercase;
}

.navbar-brand {
    color: #6C63FF;
}

.nav-item a:hover {
    color: #6C63FF;
    border-bottom: .5px solid #6C63FF;
}

.hero-section {
    margin-top: 5%;
}

.hero-section .hero-section__text-box h1 {
    font-size: 4rem;
    color: #6C63FF;
    font-family: 'Gentium Book Plus', serif;
}

.main-heading {
    color: gray;
}

.hero-section .hero-section__text-box p {
    font-size: 1.3rem;
    color: gray;
    margin-top: 2rem;
}

.hero-section .hero-section__text-box .social-media {
    font-size: 1.3rem;
}

.hero-section .hero-section__text-box .social-media i {
    /* margin-right: .5rem; */
    border-radius: 50%;
    border: 1px solid #6C63FF;
    padding: .5rem;
    background-color: #6C63FF;
    color: white;
}

.hero-section .hero-section__text-box .social-media .fa-twitter:hover {
    color: #0d6efd;
    background-color: white;
}

.hero-section .hero-section__text-box .social-media .fa-youtube:hover {
    color: red;
    background-color: white;
}

.hero-section .hero-section__text-box .social-media .fa-instagram:hover {
    color: coral;
    background-color: white;
}

.courses:hover {
    box-shadow: #0d6efd 1.95px 1.95px 2.6px;
}

.courses-title {
    color: #0d6efd;
}

.service-body {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.service-title {
    color: #0d6efd;
}

.service-body:hover {
    border-bottom: .2rem solid #0d6efd;
    border-radius: .2rem;
}